*, *:before, *:after {
  box-sizing: border-box; }

.grid {
  width: 100%; }

.row {
  margin-bottom: 1em; }

.row:last-child {
  margin-bottom: 0; }

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0; }

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="-col"] {
  float: left;
  margin: 1% 0 1% 0; }

[class*="-col"]:last-child {
  margin-right: 0; }

.one-col {
  width: 6.958%; }

.two-col {
  width: 15.41%; }

.three-col {
  width: 23.87%; }

.four-col {
  width: 33.33333%; }

.five-col {
  width: 40.79%; }

.six-col {
  width: 49.25%; }

.seven-col {
  width: 57.7%; }

.eight-col {
  width: 66.16%; }

.nine-col {
  width: 74.62%; }

.ten-col {
  width: 83.08%; }

.eleven-col {
  width: 91.54%; }

.twelve-col {
  width: 100%; }

.one-offset {
  margin-left: 8.458%; }

.two-offset {
  margin-left: 16.91%; }

.three-offset {
  margin-left: 25.37%; }

.four-offset {
  margin-left: 33.83%; }

.five-offset {
  margin-left: 42.29%; }

.six-offset {
  margin-left: 50.75%; }

.seven-offset {
  margin-left: 59.2%; }

.eight-offset {
  margin-left: 67.66%; }

.nine-offset {
  margin-left: 76.12%; }

.ten-offset {
  margin-left: 84.58%; }

.eleven-offset {
  margin-left: 91.54%; }

@media only screen and (max-width: 480px) {
  [class*="-col"] {
    float: left;
    margin: 1% 0 1% 0; }

  .one-col, .two-col, .three-col, .four-col, .five-col, .six-col,
  .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col,
  .twelve-col {
    width: 100%; } }
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  font-family: "Maven Pro", sans-serif;
  font-size: 75%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.top-nav {
  background-color: white;
  height: 26px; }
  .top-nav .social li, .top-nav .menu li {
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 5px; }
  .top-nav .social li {
    padding-right: 50px; }
  .top-nav .menu li {
    padding-left: 50px; }
  .top-nav .social a, .top-nav .menu a {
    color: #354458;
    text-decoration: none; }

.jumbotron {
  background-color: #354458;
  color: white;
  height: 420px; }
  .jumbotron hgroup {
    width: 800px;
    margin: 0 auto;
    padding: 120px 40px 60px; }
  .jumbotron h1 {
    font-size: 5em;
    font-weight: 600;
    font-family: "Maven Pro", sans-serif;
    margin-bottom: 20px; }
  .jumbotron h2 {
    font-size: 1.6em;
    margin-bottom: 32px; }
  .jumbotron button {
    background-color: #EB7260;
    color: white;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 34px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 66px; }

footer {
  height: 39px; }

.about-app {
  height: 360px; }
  .about-app .tile {
    position: relative;
    height: 360px;
    border: 1px solid red;
    margin-top: 0;
    padding: 35px; }

/*# sourceMappingURL=main.css.map */
