*, *:before, *:after {
  box-sizing: border-box; }

.grid {
  width: 100%; }

.row {
  margin-bottom: 1em; }

.row:last-child {
  margin-bottom: 0; }

.grid, .row, [class*="-col"] {
  padding: 0;
  margin: 0; }

.grid:after, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="-col"] {
  float: left;
  margin: 1% 0 1% 0; }

[class*="-col"]:last-child {
  margin-right: 0; }

.one-col {
  width: 6.958%; }

.two-col {
  width: 15.41%; }

.three-col {
  width: 23.87%; }

.four-col {
  width: 33.33333%; }

.five-col {
  width: 40.79%; }

.six-col {
  width: 55.25%; }

.seven-col {
  width: 57.7%; }

.eight-col {
  width: 66.16%; }

.nine-col {
  width: 74.62%; }

.ten-col {
  width: 83.08%; }

.eleven-col {
  width: 91.54%; }

.twelve-col {
  width: 100%; }

.one-offset {
  margin-left: 3.458%; }

.two-offset {
  margin-left: 16.91%; }

.three-offset {
  margin-left: 25.37%; }

.four-offset {
  margin-left: 33.83%; }

.five-offset {
  margin-left: 42.29%; }

.six-offset {
  margin-left: 50.75%; }

.seven-offset {
  margin-left: 59.2%; }

.eight-offset {
  margin-left: 67.66%; }

.nine-offset {
  margin-left: 76.12%; }

.ten-offset {
  margin-left: 84.58%; }

.eleven-offset {
  margin-left: 91.54%; }

@media only screen and (max-width: 480px) {
  [class*="-col"] {
    float: left;
    margin: 1% 0 1% 0; }

  .one-col, .two-col, .three-col, .four-col, .five-col, .six-col,
  .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col,
  .twelve-col {
    width: 100%; } }
html, html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  font-family: "Maven Pro", sans-serif;
  font-size: 75%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif; }

.red {
  color: red; }

.green {
  color: green; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.red-about {
  color: rgba(235, 114, 96, 0.8) !important; }

.teal-about {
  color: rgba(41, 171, 164, 0.8) !important; }

.lblue-about {
  color: rgba(58, 154, 217, 0.8) !important; }

.top-nav {
  background-color: white;
  height: 26px;
  border-bottom: 1px solid rgba(53, 68, 88, 0.6); }
  .top-nav .social li, .top-nav .menu li {
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 5px; }
  .top-nav .social li {
    padding-right: 50px; }
  .top-nav .menu li {
    padding-left: 50px; }
  .top-nav .social a, .top-nav .menu a {
    color: #eb7260;
    font-weight: bold;
    text-decoration: none; }

.jumbotron {
  background-color: #354458;
  color: white;
  height: 420px; }
  .jumbotron hgroup {
    position: relative;
    left: 65px;
    width: 800px;
    margin: 0 auto;
    padding: 120px 40px 60px;
    text-shadow: 1px 1px 4px #000; }
  .jumbotron h1 {
    font-size: 5.4em;
    font-weight: 600;
    font-family: "Lobster Two", cursive;
    letter-spacing: 1.2px;
    margin-bottom: 20px; }
  .jumbotron h2 {
    font-size: 1.6em;
    margin-bottom: 32px; }
  .jumbotron button {
    background-color: #eb7260;
    border: none;
    border-radius: 4px;
    width: 130px;
    height: 34px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 66px; }
    .jumbotron button a {
      color: white;
      text-decoration: none; }

.about-app {
  height: 420px; }
  .about-app .tile {
    position: relative;
    height: 420px;
    border: 1px solid #e9e0d6;
    margin-top: 0;
    padding: 65px 35px;
    text-align: center; }
    .about-app .tile i {
      color: rgba(53, 68, 88, 0.6);
      font-size: 14em; }
    .about-app .tile h3 {
      font-family: "Maven Pro", sans-serif;
      color: rgba(53, 68, 88, 0.9);
      font-size: 1.8em;
      text-align: left;
      padding: 0 20px;
      margin-top: 40px; }
    .about-app .tile .start-shopping {
      margin-left: 40px;
      font-size: 2.4em; }

.main-top-nav {
  height: 50px;
  background-color: #354458; }
  .main-top-nav .logo {
    margin-top: 7px; }
    .main-top-nav .logo a {
      text-decoration: none;
      font-family: "Lobster Two", cursive;
      letter-spacing: 1.2px;
      font-size: 2.4em;
      color: white; }
  .main-top-nav ul li {
    display: inline-block;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 15px; }
    .main-top-nav ul li:last-child {
      margin-right: 10px; }
    .main-top-nav ul li a {
      text-decoration: none;
      padding-left: 50px;
      color: white;
      font-size: 1.2em; }

main {
  min-height: 600px;
  margin-top: 40px; }

.left-side, .right-side {
  background-color: #e9e0d6;
  padding: 30px;
  border-radius: 6px;
  min-height: 700px;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 60px; }

.left-side #task {
  width: 100%;
  height: 40px;
  border: 2px solid rgba(53, 68, 88, 0.6);
  border-radius: 3px;
  font-size: 1.2em;
  padding-left: 12px; }
.left-side #large-task {
  display: none;
  font-size: 1.2em;
  padding: 8px;
  border: 2px solid rgba(53, 68, 88, 0.6); }
.left-side #large-task-button {
  display: none;
  background-color: #eb7260;
  color: white;
  width: 100px;
  height: 20px;
  border: none;
  margin: 5px 0; }
.left-side .tooltip {
  margin-top: 5px; }
  .left-side .tooltip .check {
    font-size: 0.7em;
    color: #eb7260;
    margin-right: 5px; }
  .left-side .tooltip .tip {
    margin-bottom: 5px; }
.left-side .how-it-works {
  margin-top: 200px;
  text-align: left;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.06);
  border: 2px solid rgba(53, 68, 88, 0.6);
  border-radius: 6px; }
  .left-side .how-it-works h3 {
    font-size: 2.2em;
    color: #354458;
    width: 165px;
    margin: 12px auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 3px; }
  .left-side .how-it-works p {
    font-size: 1.4em;
    line-height: 1.4;
    padding: 0 30px;
    margin-bottom: 12px; }

footer {
  height: 50px;
  background-color: #354458;
  color: white;
  text-align: right; }
  footer .copyright {
    font-size: 1.2em;
    margin-top: 10px; }

.right-side h2 {
  font-size: 3.4em;
  color: #eb7260;
  width: 365px;
  margin: 0 auto;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px; }
.right-side .task-list {
  margin-top: 40px;
  font-size: 1.4em; }

/*# sourceMappingURL=main.css.map */
