@import 'partials/grid'
@import 'partials/typography'
@import 'partials/general'

@import 'pieces/top-nav'
@import 'pieces/jumbotron'
@import 'pieces/about-app'
@import 'pieces/main-top-nav'
@import 'pieces/left-main'
// @import 'pieces/right-main'
@import 'pieces/footer'


.right-side
  position: relative
  h2
    font-size: 3.8em
    font-weight: 600
    color: $red
    padding-bottom: 10px
    position: absolute
    top: 0
    left: 10px
    margin-top: -42px

  .task-list
    margin-top: 40px
    font-size: 1.4em

  .task
    position: relative
    min-height: 70px
    width: 100%
    padding: 10px 40px
    margin-bottom: 10px
    border-radius: 6px
    color: $white
    text-shadow: 1px 1px 1px #000
    cursor: pointer
    opacity: 0.9
    &:hover
      opacity: 1.0
    p
      font-size: 1.2em
    .state
      position: absolute
      bottom: 0
      right: 0
      margin: 0 40px 10px 0
      font-size: 0.6em
      letter-spacing: 1.2px
      background-color: rgba(0,0,0,0.2)

  .complete, .incomplete
    opacity: 0.9
    &:hover
      opacity: 1.0
  .complete
    background-color: $green-complete
  .incomplete
    background-color: $red-incomplete


