$dark-blue: rgb(53,68,88)
$light-blue: rgb(58,154,217)
$teal: rgb(41,171,164)
$white: rgb(233,224,214)
$red: rgb(235,114,96)

.red
  color: red
.green
  color: green

.container
  max-width: 1200px
  margin: 0 auto
  overflow: hidden

.pull-right
  float: right
.pull-left
  float: left

.red-about
  color: rgba(235,114,96, 0.8) !important
.teal-about
  color: rgba(41,171,164, 0.8) !important
.lblue-about
  color: rgba(58,154,217, 0.8) !important
